@using MudBlazor
@* <div style="display:flex;flex-direction:column;border:1px solid black;padding:4px;">
    <span>@TeamDescription</span>
    <MudIconButton Icon="@Icons.Material.Filled.SurroundSound" OnClick="OnOpenTruempfeRequested"></MudIconButton>
</div> *@

<MudStack Row AlignItems="AlignItems.Center" Spacing="1" Class="pa-1" Style="border:1px solid black;">
    <MudText>@TeamDescription</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.SurroundSound"
                   OnClick="OnOpenTruempfeRequested" />
</MudStack>