@using MudBlazor
<MudGrid>
    <MudItem xs="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Team 1</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex gap-4">
                    <SpielerSelect OnSpielerChanged="OnSpieler1Selected" Spieler="@Spieler">
                    </SpielerSelect>
                    <SpielerSelect OnSpielerChanged="OnSpieler2Selected" Spieler="@Spieler">
                    </SpielerSelect>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Team 2</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex gap-4">
                    <SpielerSelect OnSpielerChanged="OnSpieler3Selected" Spieler="@Spieler">
                    </SpielerSelect>
                    <SpielerSelect OnSpielerChanged="OnSpieler4Selected" Spieler="@Spieler">
                    </SpielerSelect>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>