<div class="table">
    <SpielerDisplay Spieler="@Runde.JassPlayers.ElementAt(0)" Orientation="SpielerOrientation.Top"/>
    <SpielerDisplay Spieler="@Runde.JassPlayers.ElementAt(1)" Orientation="SpielerOrientation.Right"/>

    <div class="center">

    </div>

    <SpielerDisplay Spieler="@Runde.JassPlayers.ElementAt(2)" Orientation="SpielerOrientation.Left"/>
    <SpielerDisplay Spieler="@Runde.JassPlayers.ElementAt(3)" Orientation="SpielerOrientation.Bottom"/>
</div>