
.seat.top {
    grid-area: top;
    text-align: center;
}

.seat.bottom {
    grid-area: bottom;
    text-align: center;
}

.seat.left {
    grid-area: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.seat.right {
    grid-area: right;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
}

.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

    .hand.vertical {
        display: grid;
        gap: 6px;
    }
